.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid black;
}

.brand{
  display: flex;
  align-items: center;
  gap: 10px;
}

.brandLogo { 
  width: '32px';
  height: '32px'; 
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
 }

 .brandName{
   font-size: 15px;
   font-weight: 200px;
   color: rgba(200, 80, 200, 0.879);
 }

 .navBtns{
  display: flex;
  gap: 10px;
 }

 .chatField{
  display: flex;
  width: 60vw;
  height: 100vh;
  left: 300px;
  flex-direction: column;
  padding-left: 400px;
  box-sizing: border-box;
 }

 .inputField{
  position: relative;
  top: 40vh;
  left: 0px;
  
  width: 535px;
  height: 50px;

  overflow: hidden;
  display: flex;
  align-items: center;
  
  box-sizing: border-box;
 }

 .messageBox{
  width: 500px;
  height: 45px;
  border-radius: 1000px;
  background-color: rgb(39, 38, 38);
  border: 1px solid rgb(41, 40, 40);
  box-sizing: border-box;

  padding-right: 60px;
  padding-left: 40px;
  display: flex;
  
  font-size: 0.9rem;
  color: whitesmoke;
  resize: none;
  overflow-y: auto;
 }
 
 /* Scrollbar width */
 .messageBox::-webkit-scrollbar {
  width: 8px;
 }

 /* Scrollbar track */
 .messageBox::-webkit-scrollbar-track {
  background: #222;
 }

 /* Scrollbar handle */
 .messageBox::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
 }

 /* Hover effect */
 .messageBox::-webkit-scrollbar-thumb:hover {
  background: #888;
 }

 .messageBtn{
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-radius: 1000px;
  border: none;
 }
 
 .chats{
  display: flex;
  width: 100%;
 }