* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(27, 24, 24);
  color: whitesmoke;
}

input{
  outline: none;
  box-shadow: none;
  border: none; 
}

textarea{
  outline: none;
  box-shadow: none;
  border: none; 
}